/* Fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;z
  src: local('Montserrat-Regular'), url('../fonts/montserrat.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans_latin_ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#sortable {
	font-family: 'Montserrat';
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100% !important;
	min-height:200px;
}
.bnb_container {
	position: relative;
}
.title,
.bnb_container .enter_address_btn,
.bnb_container .or {
	font-family: 'Montserrat';
}
#first_screen .title,
#businesses_screen .title,
#second_screen .title,
#third_screen .title,
#fourth_screen .title,
.enter_address_btn {
	display:block;
	width:100%;
	text-align: center;
} 
#first_screen .title {
	background: #ff551a;
	margin-bottom: 20px;
	border-radius:3px;
}
#second_screen .title,
#third_screen .brewery.title,
#fourth_screen .title {
	background: #31a2e1;
	border-radius:3px 3px 0px 0px;	
}
#third_screen .brunch.title {
	background: #ff551a;
	border-radius:3px 3px 0px 0px;	
}
#businesses_screen .title {
	background: #31a2e1;
	border-radius:3px 3px 0px 0px;	
}
#first_screen .title,
#businesses_screen .title,
#second_screen .title,
#third_screen .title,
#fourth_screen .title {
	color: #fff;
}
#businesses_screen #scroll_list {
	border: 1px solid #dddddd;	
}
#businesses_screen .business_block {
	border: 1px solid #dddddd;
	color: #7e8c99;
	cursor: pointer;
}
#businesses_screen .business_block:hover {
	background: #fafafa;
}
#first_screen,
#businesses_screen,
#second_screen,
#third_screen,
#fourth_screen,
#fifth_screen,
#first_screen input,
#businesses_screen input,
#second_screen input,
#third_screen input,
#fourth_screen input,
#fifth_screen input {
	font-family: 'Open Sans', sans-serif !important;
}
#businesses_screen > div {
	float:left;
}
.slimScrollDiv,
#scroll_list {
	width: 100% !important;
}
#businesses_screen .image,
#businesses_screen .information {
	float:left;
	padding: 10px;	
}
#businesses_screen .image {
	width:75px;
	padding-right: 5px;	
}
#businesses_screen .image img {
	max-width: 100%;
	height: auto;
    margin-top: 15px;
}
#businesses_screen .information {
	width: calc(100% - 77px);
	padding-left: 5px;
}
#businesses_screen .business_title {
	color: #ff6600;
	font-weight: bold;
	font-size: 15px;
}
.enter_address_btn {
    background: #eaedf2 !important;
    border: 1px solid #dddddd;
    color: #000;
    padding: 0px !important;
    font-weight: normal;
	border-radius:3px;
}
.enter_address_btn:hover {
    background: #888 !important;
	color:#fff;
}
.bnb_container .or {
	display:block;
	width:100%;
	text-align: center;
	font-weight:normal;
	margin-top: 10px;
	margin-bottom: 10px;
}  
@media (max-width: 639px) {
	.bnb_container {
		max-width:260px;
		font-size: 12px;
	}	
	#first_screen .title,
	#businesses_screen .title,
	#second_screen .title,
	#third_screen .title,
	#fourth_screen .title,
	.enter_address_btn {
		height:32px;
		line-height: 32px; 
		font-size: 12px;
	} 
	.bnb_container .or {
		font-size: 12px;
	}
	.life_at_5280_logo {
		margin-bottom:10px;
	}
	#businesses_screen .business_block {
		font-size: 11px;
	}	
	.ui-state-default {
		font-size: 10px;
	}
}
@media (min-width: 640px) {
	.bnb_container {
		max-width:420px;
		font-size: 14px;
	}
	#first_screen .title,
	#businesses_screen .title,
	#second_screen .title,
	#third_screen .title,
	#fourth_screen .title,
	.enter_address_btn {
		height:36px;
		line-height: 36px; 
		font-size: 16px;
	} 	
	.bnb_container .or {
		display:block;
		width:100%;
		text-align: center;
		font-weight:normal;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 14px;
	} 	
	.life_at_5280_logo {
		margin-bottom:15px;
	}	
	#businesses_screen .business_block {
		font-size: 13px;
	}
	.ui-state-default {
		font-size: 12px;
	}
}
#brewery_blocks_container,
#brunch_blocks_container {
    border: 1px solid #dddddd;
	width:100% !important;
}
#third_screen input {
    display: block;
    margin-top: 35px;
    margin-left: 5px;
    float: left;
    max-width: 50px;
}
.brewery_block,
.brunch_block  {	
	min-height:140px;
    width: 87%;
    width: calc(100% - 50px);
}
.ui-state-default  {
    width: 96%;	
}
.ui-state-default,
.brewery_block,
.brunch_block   {
    margin-top: 5px;
    color: #7e8c99 !important;
    background: none;
    border: none;
	display:block;
	float:left;
    position: relative;
	font-weight: normal !important;
}
.ui-state-default .right_block {
	margin-bottom: 5px;	
}
.ui-state-default .right_block {	
	background: #f3f3f3;
    border-radius: 3px;
    border-right: 1px solid #ededed;
    border: 1px solid #ededed;
    cursor: move;
    width: 80%;
	width: calc(100% - 53px);
    float: right;
    position: relative;
    margin-right: 10px;
}
.ui-state-default .business_type {
    font-family: "Myriad Pro";
	width: 49px;
    height: 28px;
    padding-top: 5px;
    padding-left: 4px;
    background: url(../img/pointer.png) no-repeat;
    background-size: 100% 100%;
    font-size: 11px;
    margin-bottom: 10px;
}
.brewery_block .information,
.brunch_block .information,
.brewery_block .image,
.brunch_block .image {
	background: #f3f3f3;
}
.ui-state-default .information,
.brewery_block .information,
.brunch_block .information {
	width: calc(100% - 65px);
    border-right: 1px solid #ededed;
    padding: 10px;
    float: left;
	height: 100%;
}
.ui-state-default .image,
.brewery_block .image,
.brunch_block .image {
	border-radius: 0px 3px 3px 0px; 
    padding: 10px;
	height:100%;
	float:left;
	width: 65px;
}
.ui-state-default .image img,
.brewery_block .image img,
.brunch_block .image img {
	max-width: 100%;
	height: auto;
}
.ui-state-default .fa,
.brewery_block .fa,
.brunch_block .fa {
    margin-top: 3px;
	margin-right: 5px;
	float:left;
}
.ui-state-default .url,
.brewery_block .url,
.brunch_block .url {
	display: block;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	text-decoration: none;
	color: #7e8c99 !important;
}
@media (min-width: 1600px) {		
	.ui-state-default .url,
	.brewery_block .url,
	.brunch_block .url {
		max-width: 110px;
	}
	.brewery_block,
	.brunch_block   {
		margin-bottom: 15px;
		height: 185px;
	}
}
@media (min-width: 640px) and (max-width: 1599px) {		
	.ui-state-default .url,
	.brewery_block .url,
	.brunch_block .url {
		max-width: 130px;
	}
	.brewery_block,
	.brunch_block   {
		margin-bottom: 5px;
		height: 195px;
	}
}
@media (min-width: 320px) and (max-width: 639px) {		
	.ui-state-default .url,
	.brewery_block .url,
	.brunch_block .url {
		max-width: 90px;
	}
	.brewery_block,
	.brunch_block   {
		margin-bottom: 15px;
		height: 195px;
	}
}
@media (max-width: 319px) {		
	.ui-state-default .url,
	.brewery_block .url,
	.brunch_block .url {
		max-width: 80px;
	}
	.brewery_block,
	.brunch_block   {
		margin-bottom: 15px;
		height: 215px;
	}
}
@media (max-width: 543px) {		
	#first_screen,
	#businesses_screen,
	#second_screen,
	#third_screen,
	#fourth_screen,
	#fifth_screen {
		margin: auto;
	}
}
.ui-state-default a:hover,
.brewery_block a:hover,
.brunch_block a:hover {
	text-decoration: underline;
}
.brewery_block,
.brunch_block   {
    float: left;
    font-size: 11px;
}
.ui-state-default .heading {
	color: #000 !important;
	font-weight: bold;
}
@media (min-width: 640px) {
	.ui-state-default .heading,
	.brewery_block .heading,
	.brunch_block .heading {
		font-size: 14px;
	}
	.brewery_block,
	.brunch_block   {
		font-size: 13px;
	}
}
.business_block_container {
	float:left;
    width: 100%;
}
.ui-state-default .pointer .number {
	width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #31a2e1;
}
.pointer {
	width:45px;
	position: absolute;
    top: 20px;
    z-index: 10;
}

/*  Loading spinner */
 
#css_loader {
  position: relative !important;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

#css_loader .cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: relative !important;
  width: calc(100% - 200px);
  padding: 0 100px;
  text-align: center;
}

#css_loader .cs-loader-inner label {
  color: #31a2e1;
  font-size: 20px;
  opacity: 0;
  display:inline-block;
  float: left;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/* Angular JS styles */

.ng-hide:not(.ng-hide-animate) {
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.animate_show {
  line-height: 20px;
  opacity: 1;
  padding: 0px; 
  background: white;
  transition: all linear 0.5s;
}
#css_loader.animate_show {
	line-height:0px !important;
	padding: 0 10px;
}
.animate_show.ng-hide-add,
.animate_show.ng-hide-remove {
  transition: all linear 0.5s;
}
.animate_show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.clearfix {
	clear: both;
}

/* Radius Filter styles */

.filter_radius div {
	clear: both;
	margin: 0px !important;
}
.filter_radius label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
}
.filter_radius input.filter_radio:empty {
	margin: 0px;
	margin-left: -999px;
}
.filter_radius input.filter_radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
    margin-top: 0px;
    margin-bottom: 10px !important;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.filter_radius input.filter_radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}
.filter_radius input.filter_radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}
.filter_radius input.filter_radio:hover:not(:checked) ~ label {
	color: #888;
}
.filter_radius input.filter_radio:checked ~ label {
	color: #777;
}
.filter_radius input.filter_radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}
.filter_radius input[type="radio"]:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #31a2e1;
}


/* Google Maps and Driving Directions style */

#bnbMap,
#driving_directions { 
    width: 100%;
    border: 1px solid #dddddd;
	border-radius: 5px;
} 
#bnbMap { 
    height: 200px;
    position: relative;
}
#bnbMap,
#fifth_screen .slimScrollDiv,
#send_email_block { 
    margin-bottom: 20px;
}
#fifth_screen .disclaimer {
	display:block;
	padding-right:20px;
}
.google_maps_title {
	display:block;
	background:#31a2e1;
	border-radius: 3px;
	color:#fff !important;
    z-index: 9999;
    text-align: center;
}
#bnbMap .google_maps_title {
	width:50px;
	position:absolute;
	top: 5px;
	left: 5px;
}
#driving_directions .content {
    padding-top: 35px;
}
.distance_block {
	color: #80942b;
    font-style: italic;
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 2;
    text-align: center;
}
.distance_block span {
	display: block;
    max-width: 100px;
    margin: auto;
    background: #fff;
}
.distance_block:before {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 10px;
    padding-left: 10px;
    border-bottom: 2px dashed #dfdfdf;
}
.dir_change,
.dir_instruction {
	float:left;	
}
.dir_change {
	width: 50px;
    padding: 10px;
}
.dir_instruction {
	width: calc(100% - 52px);
    padding-right: 20px;
    font-style: italic;
    padding-top: 5px;
}
@media (max-width: 639px) {	
	.google_maps_title {	
		font-size: 12px;
	}
	.dir_instruction {
		font-size: 10px;
	}
	.distance_block {
		font-size: 10px;
	}
}
@media (min-width: 640px) {	
	.google_maps_title {	
		font-size: 14px;
	}
	.dir_instruction {
		font-size: 12px;
	}
	.distance_block {
		font-size: 12px;
	}
}
#fifth_screen .container-scroll {
	top: 5px;
	left: 5px;
	position: relative;
    z-index: 10;
}
#fifth_screen .main {
	position: absolute;
	color: white;
}
#fifth_screen .google_maps_title {
	margin-bottom: 30px;
	padding: 2px 6px;
}
#send_email_block input{
	display: block;
    width: 70%;
    float: left;
    font-size: 12px;
    margin-right: 10px;
}
#send_email_block button{
	float:left;
}

/* Buttons */

#choose_brewery,
#show_map,
#send_email_block button {	
    background: #ff551a !important;
	font-weight: bold;
    text-transform: none;
    padding: 5px 12px;
	border: none;
    font-size: 14px;
	color: #fff;
}
#choose_brewery:hover,
#show_map:hover,
#send_email_block button:hover{	
    background: #ee4409 !important;
}
.search_button,
#choose_brewery,
#show_map {	
	margin-top:20px;
	float:right;
}
.search_button {	
    background: #31a2e1 !important;
	border: none;
	font-weight: normal;
    text-transform: none;
    font-size: 14px;
}
.yelp_reviews {
	margin-top: 3px;
	border-radius: 3px;
	background: #1a1a1a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    text-transform: uppercase;
}
.yelp_reviews:hover,
.yelp_reviews:focus,
.yelp_reviews:active {
	background: #007acc;
}
.error {
	display: block;
    float: left;
    margin-top: 5px;
}
.error  span{
	color: #f00;
}
/* Scroll Bar */

.slimScrollBar {
	cursor: pointer;
}

/* Magnific Popup */

.white-popup {
	font-family: 'Open Sans', sans-serif !important;
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	margin: 20px auto;
	text-align: left;
	border-radius: 10px;
}
.white-popup h2 {
	font-size: 20px;
    text-align: center;
    background: #31a2e1;
    margin-right: 10px;
    padding: 3px;
    color: #fff;
    font-style: italic;
    border-radius: 5px;
}
.mfp-reviewText {
	margin-right: 10px;
    margin-top: 10px;
    text-align: left;
}
.mfp-userReviewUrl {
	float:right;
}
@media (max-width: 639px) {
	.white-popup {
		font-size: 12px;
		max-width: 200px;
	}
	.mfp-businessRating {
		float:left;
	}
	.rating_title {
		float:left;
	}
	.rating_title { 
		margin-top:10px;
	}
}
@media (min-width: 640px) {
	.white-popup {
		font-size: 14px;
		max-width: 300px;
	}
	.rating_title { 
		margin-top: 30px;
	}
}
.stars, .stars0
{
   background: transparent url("../img/stars_rating.png") no-repeat top left;
   width:100px;
   height:20px;
   display:block;
}
.stars1 {background-position:-80px;}
.stars2 {background-position:-60px;}
.stars3 {background-position:-40px;}
.stars4 {background-position:-20px;}
.stars5 {background-position:0px;}
